<footer class="footer">
  <div class="footer-bottom p-3">
    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-start">
        <p class="copyright mb-0">
          &copy; {{ currentYear }} SkillShow. All rights reserved.
        </p>
      </div>
      <div class="col-md-6 text-center text-md-end justify-content-center justify-content-md-end d-flex">
        <div class="d-flex gap-3">
            <a href="" class="text-decoration-none fw-medium text-secondary">About</a>
             <a href="" class="text-decoration-none fw-medium text-secondary">Contact Us</a>
          <a href="" class="text-decoration-none fw-medium text-secondary">Privacy Policy</a>
           <a href="" class="text-decoration-none fw-medium text-secondary">Terms & Conditions</a>
        </div>
      </div>
    </div>
  </div>
</footer>