 <section class="hero-section">
      <div class="right-blend"></div>
      <div class="decorative-circle"></div>
      <div class="container">
        <div class="hero-content">
          <h1 class="hero-title">
            <span class="title-part">Learn.</span>
            <span class="title-part">Skill Up.</span>
            <span class="title-part">Succeed.</span>
          </h1>
          
          <p class="hero-subtitle">
            Nigeria's premier platform for academic excellence and vocational skills.
          </p>
          
          <p class="hero-description">
            Access high-quality video content tailored to your learning journey.
          </p>
          
          <div class="hero-actions">
            <button 
              class="btn btn-primary"
              (click)="onStartLearning()">
              <i class="bi bi-book"></i>
              Start Learning
            </button>
            
            <button 
              class="btn btn-secondary"
              (click)="onExploreSkills()">
             <i class="bi bi-tools"></i>
              Explore Skills
            </button>
          </div>
        </div>
      </div>
    </section>