<div class="story-container">
      <div class="d-flex gap-3 overflow-auto pb-3">
        <!-- Add Story Button -->
        <div class="story-item" *ngIf="showAddButton">
          <div class="story-circle add-story" (click)="onAddStory()">
            <span class="plus-icon">+</span>
          </div>
          <span class="story-name">Add Story</span>
        </div>

        <!-- Story Items -->
        <div 
          class="story-item" 
          *ngFor="let story of stories"
          (click)="onStoryClick(story)">
          <div 
            class="story-circle"
            [class.has-story]="story.hasStory">
            <!-- User with image -->
            <img 
              *ngIf="story.image" 
              [src]="story.image" 
              [alt]="story.name"
              class="story-image">
            
            <!-- User with initials -->
            <div 
              *ngIf="!story.image && story.initials"
              class="story-initials"
              [style.background-color]="story.bgColor || '#e0b0ff'">
              {{ story.initials }}
            </div>
          </div>
          <span class="story-name">{{ story.name }}</span>
        </div>
      </div>
    </div>